/* RESETS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    display: block;
}

/* CSS */

body {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url("assets/images/bg-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    max-width: 375px;
    margin: 0.5rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-box{
    width: 330px;
    padding: 2.5rem;
    background-color: hsl(228, 56%, 26%);
    border-radius: 10px 100px 10px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.411);
}

.logo{
    margin-bottom: 2rem;
}

.buttons{
    display: flex;
    align-items: center;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    background-color: hsl(229, 57%, 11%);
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.storage-box{
    color: hsl(243, 100%, 93%);
    text-align: center;
    width: 330px;
    padding: 2rem 2rem 3rem 2rem;
    background-color: hsl(228, 56%, 26%);
    margin-top: 1rem;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.411);
}

.storage-box span{
    font-weight: 700;
}

.pourcent{
    background-color: hsl(227, 57%, 18%);
    border: 3px solid hsl(227, 57%, 18%);
    height: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.barre{
    background: linear-gradient(90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    height: 14px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 65px;
    border-radius: 10px;
}

.boule{
    z-index: 1;
    background-color: white;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 7px;
    right: 68px;
    top: 2px;
}

.gb-info{
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.gb-left p{
    font-weight: 700;
    color: hsl(229, 7%, 55%);
    font-size: 1em;
}

.gb-left span{
    color: hsl(229, 57%, 11%);
    font-size: 2.5em;
    padding-right: 0.5rem;
}

.gb-left{
    width: 170px;
    margin: auto;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: white;
    position: absolute;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -35px;
    left: 0;
    right: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.411);
}

footer{
    margin-top: 3rem;
    color: white;
    font-size: 0.9em;
}

footer a{
    color: hsl(338, 100%, 68%);
    font-weight: bold;
}

@media screen and (min-width: 1000px) {
    body{
        background-color: hsl(229, 57%, 11%);
        background-image: url("assets/images/bg-desktop.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: bottom;
    }

    main{
        max-width: 1000px;
        margin: 0.5rem;
    }

    .container{
        flex-direction: row;
        align-items: flex-end;
    }

    .title-box{
        margin-right: 1.5rem;
    }

    .storage-box{
        text-align: start;
        width: 600px;
        height: 150px;
    }

    .gb-left{
        top: -3rem;
        bottom: auto;
        right: 2rem;
        left: auto;
    }

    .gb-left::after{
        content: "";
        clip-path: polygon(50% 0%, 0 49%, 51% 99%);
        width: 3rem;
        height: 3rem;
        background-color: white;
        position: absolute;
        right: -1.5rem;
        bottom: -1.5rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.411);
    }

    .barre{
        right: 105px;
    }

    .boule{
        right: 108px;
    }

    footer{
        margin-top: 1rem;
    }
}
